.bar-container {
  background: rgba($bg, 0.98);
  border: 1px solid rgba($bordercolor, 0.35);
  color: $fg;
  box-shadow: 4.0px 8.0px 8.0px rgba(0, 0, 0, 0.60);

  margin: 10px 12px 0;
  padding: 0 12px;
  transition: background 200ms ease, box-shadow 200ms ease;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 3px;
}

.separator {
  color: $sepcolor;
  padding: 0 5px;
}

