/**
 * Catppuccin Palette
 * https://github.com/catppuccin/catppuccin
 */

:root {
  /* Latte */
  --ctp-latte-rosewater-hsl: 11, 59%, 80%;
  --ctp-latte-flamingo-hsl: 0, 60%, 77%;
  --ctp-latte-pink-hsl: 316, 73%, 84%;
  --ctp-latte-mauve-hsl: 277, 59%, 78%;
  --ctp-latte-red-hsl: 342, 79%, 75%;
  --ctp-latte-maroon-hsl: 355, 70%, 72%;
  --ctp-latte-peach-hsl: 22, 96%, 77%;
  --ctp-latte-yellow-hsl: 41, 86%, 83%;
  --ctp-latte-green-hsl: 128, 51%, 69%;
  --ctp-latte-teal-hsl: 170, 57%, 73%;
  --ctp-latte-sky-hsl: 197, 97%, 77%;
  --ctp-latte-sapphire-hsl: 189, 70%, 73%;
  --ctp-latte-blue-hsl: 220, 91%, 76%;
  --ctp-latte-lavender-hsl: 238, 100%, 83%;
  --ctp-latte-text-hsl: 234, 16%, 35%;
  --ctp-latte-subtext1-hsl: 233, 13%, 41%;
  --ctp-latte-subtext0-hsl: 233, 10%, 47%;
  --ctp-latte-overlay2-hsl: 231, 7%, 53%;
  --ctp-latte-overlay1-hsl: 231, 7%, 60%;
  --ctp-latte-overlay0-hsl: 229, 6%, 66%;
  --ctp-latte-surface2-hsl: 228, 6%, 72%;
  --ctp-latte-surface1-hsl: 227, 7%, 78%;
  --ctp-latte-surface0-hsl: 225, 10%, 84%;
  --ctp-latte-base-hsl: 220, 23%, 95%;
  --ctp-latte-mantle-hsl: 220, 22%, 92%;
  --ctp-latte-crust-hsl: 220, 21%, 89%;

  /* Frappe */
  --ctp-frappe-rosewater-hsl: 10, 57%, 88%;
  --ctp-frappe-flamingo-hsl: 0, 59%, 85%;
  --ctp-frappe-pink-hsl: 316, 73%, 83%;
  --ctp-frappe-mauve-hsl: 280, 56%, 79%;
  --ctp-frappe-red-hsl: 347, 87%, 72%;
  --ctp-frappe-maroon-hsl: 355, 76%, 75%;
  --ctp-frappe-peach-hsl: 21, 86%, 73%;
  --ctp-frappe-yellow-hsl: 40, 93%, 74%;
  --ctp-frappe-green-hsl: 136, 50%, 68%;
  --ctp-frappe-teal-hsl: 171, 52%, 68%;
  --ctp-frappe-sky-hsl: 198, 93%, 75%;
  --ctp-frappe-sapphire-hsl: 199, 76%, 69%;
  --ctp-frappe-blue-hsl: 222, 74%, 75%;
  --ctp-frappe-lavender-hsl: 239, 67%, 83%;
  --ctp-frappe-text-hsl: 227, 70%, 87%;
  --ctp-frappe-subtext1-hsl: 226, 64%, 78%;
  --ctp-frappe-subtext0-hsl: 227, 42%, 69%;
  --ctp-frappe-overlay2-hsl: 228, 29%, 61%;
  --ctp-frappe-overlay1-hsl: 227, 27%, 53%;
  --ctp-frappe-overlay0-hsl: 224, 27%, 45%;
  --ctp-frappe-surface2-hsl: 227, 26%, 37%;
  --ctp-frappe-surface1-hsl: 225, 25%, 31%;
  --ctp-frappe-surface0-hsl: 222, 24%, 26%;
  --ctp-frappe-base-hsl: 226, 30%, 21%;
  --ctp-frappe-mantle-hsl: 226, 30%, 17%;
  --ctp-frappe-crust-hsl: 226, 30%, 13%;

  /* Macchiato */
  --ctp-macchiato-rosewater-hsl: 10, 58%, 90%;
  --ctp-macchiato-flamingo-hsl: 0, 59%, 88%;
  --ctp-macchiato-pink-hsl: 316, 72%, 86%;
  --ctp-macchiato-mauve-hsl: 277, 59%, 85%;
  --ctp-macchiato-red-hsl: 342, 79%, 75%;
  --ctp-macchiato-maroon-hsl: 356, 65%, 77%;
  --ctp-macchiato-peach-hsl: 22, 99%, 75%;
  --ctp-macchiato-yellow-hsl: 40, 92%, 75%;
  --ctp-macchiato-green-hsl: 128, 55%, 69%;
  --ctp-macchiato-teal-hsl: 171, 59%, 69%;
  --ctp-macchiato-sky-hsl: 197, 91%, 71%;
  --ctp-macchiato-sapphire-hsl: 189, 70%, 70%;
  --ctp-macchiato-blue-hsl: 220, 83%, 75%;
  --ctp-macchiato-lavender-hsl: 239, 66%, 84%;
  --ctp-macchiato-text-hsl: 233, 30%, 86%;
  --ctp-macchiato-subtext1-hsl: 232, 24%, 78%;
  --ctp-macchiato-subtext0-hsl: 232, 23%, 70%;
  --ctp-macchiato-overlay2-hsl: 231, 21%, 62%;
  --ctp-macchiato-overlay1-hsl: 232, 19%, 54%;
  --ctp-macchiato-overlay0-hsl: 231, 19%, 46%;
  --ctp-macchiato-surface2-hsl: 230, 19%, 38%;
  --ctp-macchiato-surface1-hsl: 232, 19%, 31%;
  --ctp-macchiato-surface0-hsl: 233, 20%, 24%;
  --ctp-macchiato-base-hsl: 232, 23%, 18%;
  --ctp-macchiato-mantle-hsl: 232, 22%, 15%;
  --ctp-macchiato-crust-hsl: 231, 22%, 12%;

  /* Mocha */
  --ctp-mocha-rosewater-hsl: 10, 56%, 91%;
  --ctp-mocha-flamingo-hsl: 0, 59%, 89%;
  --ctp-mocha-pink-hsl: 316, 72%, 86%;
  --ctp-mocha-mauve-hsl: 267, 84%, 81%;
  --ctp-mocha-red-hsl: 343, 81%, 75%;
  --ctp-mocha-maroon-hsl: 355, 76%, 75%;
  --ctp-mocha-peach-hsl: 23, 92%, 75%;
  --ctp-mocha-yellow-hsl: 41, 86%, 83%;
  --ctp-mocha-green-hsl: 128, 50%, 70%;
  --ctp-mocha-teal-hsl: 171, 70%, 73%;
  --ctp-mocha-sky-hsl: 189, 71%, 73%;
  --ctp-mocha-sapphire-hsl: 199, 76%, 69%;
  --ctp-mocha-blue-hsl: 217, 92%, 76%;
  --ctp-mocha-lavender-hsl: 232, 97%, 85%;
  --ctp-mocha-text-hsl: 226, 64%, 88%;
  --ctp-mocha-subtext1-hsl: 226, 50%, 80%;
  --ctp-mocha-subtext0-hsl: 226, 43%, 72%;
  --ctp-mocha-overlay2-hsl: 226, 30%, 64%;
  --ctp-mocha-overlay1-hsl: 224, 27%, 56%;
  --ctp-mocha-overlay0-hsl: 224, 24%, 48%;
  --ctp-mocha-surface2-hsl: 223, 22%, 40%;
  --ctp-mocha-surface1-hsl: 223, 20%, 32%;
  --ctp-mocha-surface0-hsl: 222, 18%, 24%;
  --ctp-mocha-base-hsl: 222, 21%, 16%;
  --ctp-mocha-mantle-hsl: 223, 20%, 12%;
  --ctp-mocha-crust-hsl: 220, 21%, 9%;
}

/* Usage helper classes */
.catppuccin-latte {
  --rosewater: hsl(var(--ctp-latte-rosewater-hsl));
  --flamingo: hsl(var(--ctp-latte-flamingo-hsl));
  --pink: hsl(var(--ctp-latte-pink-hsl));
  --mauve: hsl(var(--ctp-latte-mauve-hsl));
  --red: hsl(var(--ctp-latte-red-hsl));
  --maroon: hsl(var(--ctp-latte-maroon-hsl));
  --peach: hsl(var(--ctp-latte-peach-hsl));
  --yellow: hsl(var(--ctp-latte-yellow-hsl));
  --green: hsl(var(--ctp-latte-green-hsl));
  --teal: hsl(var(--ctp-latte-teal-hsl));
  --sky: hsl(var(--ctp-latte-sky-hsl));
  --sapphire: hsl(var(--ctp-latte-sapphire-hsl));
  --blue: hsl(var(--ctp-latte-blue-hsl));
  --lavender: hsl(var(--ctp-latte-lavender-hsl));
  --text: hsl(var(--ctp-latte-text-hsl));
  --subtext1: hsl(var(--ctp-latte-subtext1-hsl));
  --subtext0: hsl(var(--ctp-latte-subtext0-hsl));
  --overlay2: hsl(var(--ctp-latte-overlay2-hsl));
  --overlay1: hsl(var(--ctp-latte-overlay1-hsl));
  --overlay0: hsl(var(--ctp-latte-overlay0-hsl));
  --surface2: hsl(var(--ctp-latte-surface2-hsl));
  --surface1: hsl(var(--ctp-latte-surface1-hsl));
  --surface0: hsl(var(--ctp-latte-surface0-hsl));
  --base: hsl(var(--ctp-latte-base-hsl));
  --mantle: hsl(var(--ctp-latte-mantle-hsl));
  --crust: hsl(var(--ctp-latte-crust-hsl));
}

.catppuccin-frappe {
  --rosewater: hsl(var(--ctp-frappe-rosewater-hsl));
  --flamingo: hsl(var(--ctp-frappe-flamingo-hsl));
  --pink: hsl(var(--ctp-frappe-pink-hsl));
  --mauve: hsl(var(--ctp-frappe-mauve-hsl));
  --red: hsl(var(--ctp-frappe-red-hsl));
  --maroon: hsl(var(--ctp-frappe-maroon-hsl));
  --peach: hsl(var(--ctp-frappe-peach-hsl));
  --yellow: hsl(var(--ctp-frappe-yellow-hsl));
  --green: hsl(var(--ctp-frappe-green-hsl));
  --teal: hsl(var(--ctp-frappe-teal-hsl));
  --sky: hsl(var(--ctp-frappe-sky-hsl));
  --sapphire: hsl(var(--ctp-frappe-sapphire-hsl));
  --blue: hsl(var(--ctp-frappe-blue-hsl));
  --lavender: hsl(var(--ctp-frappe-lavender-hsl));
  --text: hsl(var(--ctp-frappe-text-hsl));
  --subtext1: hsl(var(--ctp-frappe-subtext1-hsl));
  --subtext0: hsl(var(--ctp-frappe-subtext0-hsl));
  --overlay2: hsl(var(--ctp-frappe-overlay2-hsl));
  --overlay1: hsl(var(--ctp-frappe-overlay1-hsl));
  --overlay0: hsl(var(--ctp-frappe-overlay0-hsl));
  --surface2: hsl(var(--ctp-frappe-surface2-hsl));
  --surface1: hsl(var(--ctp-frappe-surface1-hsl));
  --surface0: hsl(var(--ctp-frappe-surface0-hsl));
  --base: hsl(var(--ctp-frappe-base-hsl));
  --mantle: hsl(var(--ctp-frappe-mantle-hsl));
  --crust: hsl(var(--ctp-frappe-crust-hsl));
}

.catppuccin-macchiato {
  --rosewater: hsl(var(--ctp-macchiato-rosewater-hsl));
  --flamingo: hsl(var(--ctp-macchiato-flamingo-hsl));
  --pink: hsl(var(--ctp-macchiato-pink-hsl));
  --mauve: hsl(var(--ctp-macchiato-mauve-hsl));
  --red: hsl(var(--ctp-macchiato-red-hsl));
  --maroon: hsl(var(--ctp-macchiato-maroon-hsl));
  --peach: hsl(var(--ctp-macchiato-peach-hsl));
  --yellow: hsl(var(--ctp-macchiato-yellow-hsl));
  --green: hsl(var(--ctp-macchiato-green-hsl));
  --teal: hsl(var(--ctp-macchiato-teal-hsl));
  --sky: hsl(var(--ctp-macchiato-sky-hsl));
  --sapphire: hsl(var(--ctp-macchiato-sapphire-hsl));
  --blue: hsl(var(--ctp-macchiato-blue-hsl));
  --lavender: hsl(var(--ctp-macchiato-lavender-hsl));
  --text: hsl(var(--ctp-macchiato-text-hsl));
  --subtext1: hsl(var(--ctp-macchiato-subtext1-hsl));
  --subtext0: hsl(var(--ctp-macchiato-subtext0-hsl));
  --overlay2: hsl(var(--ctp-macchiato-overlay2-hsl));
  --overlay1: hsl(var(--ctp-macchiato-overlay1-hsl));
  --overlay0: hsl(var(--ctp-macchiato-overlay0-hsl));
  --surface2: hsl(var(--ctp-macchiato-surface2-hsl));
  --surface1: hsl(var(--ctp-macchiato-surface1-hsl));
  --surface0: hsl(var(--ctp-macchiato-surface0-hsl));
  --base: hsl(var(--ctp-macchiato-base-hsl));
  --mantle: hsl(var(--ctp-macchiato-mantle-hsl));
  --crust: hsl(var(--ctp-macchiato-crust-hsl));
}

.catppuccin-mocha {
  --rosewater: hsl(var(--ctp-mocha-rosewater-hsl));
  --flamingo: hsl(var(--ctp-mocha-flamingo-hsl));
  --pink: hsl(var(--ctp-mocha-pink-hsl));
  --mauve: hsl(var(--ctp-mocha-mauve-hsl));
  --red: hsl(var(--ctp-mocha-red-hsl));
  --maroon: hsl(var(--ctp-mocha-maroon-hsl));
  --peach: hsl(var(--ctp-mocha-peach-hsl));
  --yellow: hsl(var(--ctp-mocha-yellow-hsl));
  --green: hsl(var(--ctp-mocha-green-hsl));
  --teal: hsl(var(--ctp-mocha-teal-hsl));
  --sky: hsl(var(--ctp-mocha-sky-hsl));
  --sapphire: hsl(var(--ctp-mocha-sapphire-hsl));
  --blue: hsl(var(--ctp-mocha-blue-hsl));
  --lavender: hsl(var(--ctp-mocha-lavender-hsl));
  --text: hsl(var(--ctp-mocha-text-hsl));
  --subtext1: hsl(var(--ctp-mocha-subtext1-hsl));
  --subtext0: hsl(var(--ctp-mocha-subtext0-hsl));
  --overlay2: hsl(var(--ctp-mocha-overlay2-hsl));
  --overlay1: hsl(var(--ctp-mocha-overlay1-hsl));
  --overlay0: hsl(var(--ctp-mocha-overlay0-hsl));
  --surface2: hsl(var(--ctp-mocha-surface2-hsl));
  --surface1: hsl(var(--ctp-mocha-surface1-hsl));
  --surface0: hsl(var(--ctp-mocha-surface0-hsl));
  --base: hsl(var(--ctp-mocha-base-hsl));
  --mantle: hsl(var(--ctp-mocha-mantle-hsl));
  --crust: hsl(var(--ctp-mocha-crust-hsl));
}
