/* assets/colors/colors.css */

:root {
  /* Archangel */
  --color-archangel-50: #ffffff;
  --color-archangel-100: #fafcfd;
  --color-archangel-200: #f5f8fa;
  --color-archangel-300: #f0f4f7;
  --color-archangel-400: #eaeff3;
  --color-archangel-500: #e3e9ef;
  --color-archangel-600: #dbe3ea;
  --color-archangel-700: #d2dce5;
  --color-archangel-800: #c8d4df;
  --color-archangel-900: #bdcbd8;

  /* Ivory */
  --color-ivory-50: #fffcf7;
  --color-ivory-100: #fef9f1;
  --color-ivory-200: #fcf4e8;
  --color-ivory-300: #faeddd;
  --color-ivory-400: #f7e4d0;
  --color-ivory-500: #f3dac2;
  --color-ivory-600: #eed0b3;
  --color-ivory-700: #e8c5a3;
  --color-ivory-800: #e1b993;
  --color-ivory-900: #d9ac82;

  /* Stardust */
  --color-stardust-100: #d4bf94;
  --color-stardust-200: #cdb588;
  --color-stardust-300: #c2ab7b;
  --color-stardust-400: #b89f6f;
  --color-stardust-500: #a98f63;
  --color-stardust-600: #9a8057;
  --color-stardust-700: #8b714b;
  --color-stardust-800: #7c623f;
  --color-stardust-900: #6d5333;
  --color-stardust-950: #5e4427;

  /* Icarus */
  --color-icarus-100: #f6a94f;
  --color-icarus-200: #f5a142;
  --color-icarus-300: #f39835;
  --color-icarus-400: #f18f28;
  --color-icarus-500: #ee851b;
  --color-icarus-600: #ea7b0e;
  --color-icarus-700: #e67101;
  --color-icarus-800: #da6600;
  --color-icarus-900: #c65c00;
  --color-icarus-950: #b25200;

  /* Ember */
  --color-ember-100: #eba491;
  --color-ember-200: #e99882;
  --color-ember-300: #e78a73;
  --color-ember-400: #e57e65;
  --color-ember-500: #e27156;
  --color-ember-600: #df6345;
  --color-ember-700: #dc5332;
  --color-ember-800: #d4422a;
  --color-ember-900: #c73822;
  --color-ember-950: #b92e1a;

  /* Matador */
  --color-matador-100: #c03d5a;
  --color-matador-200: #b03451;
  --color-matador-300: #a02b48;
  --color-matador-400: #942543;
  --color-matador-500: #872341;
  --color-matador-600: #7b1d3a;
  --color-matador-700: #6f1733;
  --color-matador-800: #63112c;
  --color-matador-900: #570b25;
  --color-matador-950: #4b051e;

  /* Toxine */
  --color-toxine-100: #6b4868;
  --color-toxine-200: #5f3f5c;
  --color-toxine-300: #543650;
  --color-toxine-400: #50354e;
  --color-toxine-500: #462e43;
  --color-toxine-600: #3c2738;
  --color-toxine-700: #32202d;
  --color-toxine-800: #281922;
  --color-toxine-900: #1e1219;
  --color-toxine-950: #140b10;

  /* Fugue */
  --color-fugue-100: #5a5c8a;
  --color-fugue-200: #51537e;
  --color-fugue-300: #474972;
  --color-fugue-400: #3d3f66;
  --color-fugue-500: #33355a;
  --color-fugue-600: #292b4e;
  --color-fugue-700: #1f2132;
  --color-fugue-800: #191b29;
  --color-fugue-900: #131520;
  --color-fugue-950: #0d0f17;

  /* Ophelia */
  --color-ophelia-100: #0d5a75;
  --color-ophelia-200: #0a4e66;
  --color-ophelia-300: #074257;
  --color-ophelia-400: #043648;
  --color-ophelia-500: #002f3f;
  --color-ophelia-600: #002735;
  --color-ophelia-700: #001f2b;
  --color-ophelia-800: #001721;
  --color-ophelia-900: #000f17;
  --color-ophelia-950: #00080d;

  /* Wraith */
  --color-wraith-100: #445564;
  --color-wraith-200: #3b4a58;
  --color-wraith-300: #2e3e4d;
  --color-wraith-400: #283645;
  --color-wraith-500: #222e3b;
  --color-wraith-600: #1c2633;
  --color-wraith-700: #161e27;
  --color-wraith-800: #10161d;
  --color-wraith-900: #0a0e13;
  --color-wraith-950: #040609;

  /* Abyss */
  --color-abyss-100: #3a3b3c;
  --color-abyss-200: #323334;
  --color-abyss-300: #2a2b2c;
  --color-abyss-400: #222324;
  --color-abyss-500: #1a1b1c;
  --color-abyss-600: #151617;
  --color-abyss-700: #0f1010;
  --color-abyss-800: #0a0a0b;
  --color-abyss-900: #050506;
  --color-abyss-950: #000000;

  /* Lacuna */
  --color-lacuna-50: #f5f5f5;
  --color-lacuna-100: #e8e8e9;
  --color-lacuna-200: #d1d1d2;
  --color-lacuna-300: #bababb;
  --color-lacuna-400: #a3a3a4;
  --color-lacuna-500: #8c8c8d;
  --color-lacuna-600: #757576;
  --color-lacuna-700: #5e5e5f;
  --color-lacuna-800: #474748;
  --color-lacuna-900: #303031;
  --color-lacuna-950: #19191a;

  /* Absynthe */
  --color-absynthe-100: #7dd3c0;
  --color-absynthe-200: #6bc9b5;
  --color-absynthe-300: #59bfaa;
  --color-absynthe-400: #47b59f;
  --color-absynthe-500: #35ab94;
  --color-absynthe-600: #23a189;
  --color-absynthe-700: #11977e;
  --color-absynthe-800: #008d73;
  --color-absynthe-900: #008368;
  --color-absynthe-950: #00795d;

  /* Xenon */
  --color-xenon-100: #f759ab;
  --color-xenon-200: #f54e9f;
  --color-xenon-300: #f24293;
  --color-xenon-400: #ee3687;
  --color-xenon-500: #e92a7b;
  --color-xenon-600: #e31e6f;
  --color-xenon-700: #dc1263;
  --color-xenon-800: #d40657;
  --color-xenon-900: #c8004b;
  --color-xenon-950: #b8003f;

  /* Cherenkov */
  --color-cherenkov-100: #4a7fff;
  --color-cherenkov-200: #3e73ff;
  --color-cherenkov-300: #3267ff;
  --color-cherenkov-400: #265bff;
  --color-cherenkov-500: #1a4fff;
  --color-cherenkov-600: #0e43ff;
  --color-cherenkov-700: #0237ff;
  --color-cherenkov-800: #002bef;
  --color-cherenkov-900: #001fd3;
  --color-cherenkov-950: #0013b7;
}
