// Environment Variables
// HACK: Required for X11 apps
// Either this approach, or launching using flags (check desktop apps)
// NOTE: This only works for xwayland-satellite > 0.6 (force-no-rescaling implementation natively)
environment {
    DISPLAY ":0"
}
// Inputs
// ------------------------------------
input {
    keyboard {
        xkb {
            layout "gb,us,es"
            options "grp:win_space_toggle"
        }
        // Faster keyboard repeat & delay
        repeat-delay 300
        repeat-rate 90
        // Enable numlock on startup
        numlock
    }
    touchpad {
        tap
        accel-speed -0.3
        middle-emulation
        scroll-factor 1.0
    }
    mouse {
        accel-speed -0.2
        scroll-factor 0.9
        middle-emulation
    }
    focus-follows-mouse max-scroll-amount="95%"
}
// Outputs
// ------------------------------------
// DOCS: https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs#position
output "eDP-0" {
    off
    mode "2880x1620@120"
    scale 1.5
    position x=0 y=0
}
output "eDP-1" {
    // off
    mode "2880x1620@120"
    scale 1.5
    position x=0 y=0
}
output "eDP-2" {
    off
    mode "2880x1620@120"
    scale 1.5
    position x=0 y=0
}
output "HDMI-A-0" {
    off
    mode "3840x2160@60"
    scale 1.5
    position x=1920 y=0
}
output "HDMI-A-1" {
    // off
    mode "3840x2160@60"
    scale 1.5
    position x=1920 y=0
}
output "HDMI-A-2" {
    off
    mode "3840x2160@60"
    scale 1.5
    position x=1920 y=0
}
// General
// ------------------------------------
// Layer rules
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}
layer-rule {
    // Add shadow to fuzzel instances
    match namespace="^launcher"
    shadow {
        on
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000050"
    }
}
// Window rules
window-rule {
    match app-id="qalculate-gtk"
    open-maximized true
}
window-rule {
    match app-id="calcure"
    // open-floating true
    open-maximized true
}
window-rule {
    match app-id="television-launcher"
    default-column-width {
        proportion 0.8
    }
    default-window-height {
        fixed 700
    }
    open-floating true
    tiled-state true
    focus-ring {
        on
        width 1
        inactive-color "#505050"
        active-gradient from="#E46876" to="#c4746e" angle=45 relative-to="workspace-view"
        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
    shadow {
        on
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000050"
    }
}
window-rule {
    match title="Television Picker"
    default-column-width {
        proportion 0.8
    }
    default-window-height {
        fixed 700
    }
    open-floating true
    tiled-state true
    focus-ring {
        on
        width 1
        inactive-color "#505050"
        active-gradient from="#E46876" to="#c4746e" angle=45 relative-to="workspace-view"
        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
    shadow {
        on
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000050"
    }
}
// Avoid hotkey help menu from appearing at startup
hotkey-overlay {
    skip-at-startup
}
// Remove client-side decorations (window headers)
prefer-no-csd
// Cursor
cursor {
    xcursor-size 24
    hide-after-inactive-ms 2000
}
// Disable hot corners (easily triggered)
gestures {
    dnd-edge-view-scroll {
        trigger-width 30
        delay-ms 100
        max-speed 1500
    }
    dnd-edge-workspace-switch {
        trigger-height 50
        delay-ms 100
        max-speed 1500
    }
    hot-corners {
        off
    }
}
// HACK: This is meant to play perfectly with transparent background color
overview {
    zoom 0.6
    workspace-shadow {
        off
    }
}
// Window layout
// ------------------------------------
layout {
    shadow {
        // on
        softness 10
        spread 5
        offset x=0 y=5
        draw-behind-window false
        color "#090D1270"
        inactive-color "#00000054"
    }
    // Per-workspace background color
    // HACK: Setting as transparent so wallpaper does not move with swipes
    background-color "transparent"
    // Window layout
    gaps 12
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    center-focused-column "never"
    // Width
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    default-column-width {
        proportion 0.5
    }
    // Height
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
        fixed 720
    }
    focus-ring {
        off
        width 1
        active-color 255 200 127 255
        inactive-color 80 80 80 255
    }
    border {
        off
        width 1
        active-gradient from="#090E13" to="#C14043" angle=45 relative-to="workspace-view"
        // inactive-gradient from="#0d0c0c" to="#808080" angle=45 relative-to="workspace-view"
        // active-color 34 38 45 255
        inactive-color "#090D12"
    }
    tab-indicator {
        // off
        // hide-when-single-tab
        place-within-column
        gap 5
        width 4
        length total-proportion=1.0
        position "left"
        gaps-between-tabs 2
        corner-radius 0
        // active-color "yellow"
        // inactive-color "gray"
        // urgent-color "blue"
        active-gradient from="#c4b28a" to="#c4746e" angle=45
        inactive-gradient from="#0d0c0c" to="#808080" angle=45 relative-to="workspace-view"
        urgent-gradient from="#E46876" to="#c4746e" angle=45
    }
}
// Startup
// ------------------------------------
// NOTE: Most services are managed by systemd directly. Check services home manager module.
// Required for X11 compatibility
spawn-at-startup "xwayland-satellite"
// FIX: Script not working
// Polkit fuzzel prompt client
spawn-at-startup "sh" "-c" "~/.local/bin/fuzzel-polkit.sh"


// Animation settings
// ------------------------------------
animations {
    // NOTE: Uncomment to turn off all animations
    // NOTE: We can also put "off" into each individual animation to disable it.
    // off
    // HACK: Slow down all animations by this factor. Values below 1 speed them up instead.
    slowdown 0.8
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}
// Transparency and blur
window-rule {
    match is-active=true
    // Apply to all windows
    opacity 0.98
}
window-rule {
    match is-active=false
    // Apply to all windows
    opacity 0.98
}
// Ensure no CSD for specific apps
window-rule {
    match app-id="^org\\.wezfurlong\\.wezterm$"
    default-column-width {

    }
}
window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    open-floating true
}
// NOTE: Fuzzel opacity is controlled directly in fuzzel configuration
// Screenshots
// ------------------------------------
screenshot-path "~/pictures/screenshots/screenshot_%Y-%m-%d_%H-%M-%S.png"
// Binds
// ------------------------------------
binds {
    // Yank and paste content to and from X11 apps
    // Mod+Shift+C { spawn "sh" "-c" "env DISPLAY=:0 xsel -ob | wl-copy"; }
    // Mod+Shift+V { spawn "sh" "-c" "wl-paste -n | env DISPLAY=:0 xsel -ib"; }
    // System & Core Controls
    Mod+Escape hotkey-overlay-title="Lock Screen" {
        spawn "hyprlock"
    }
    // Mod+Shift+Q hotkey-overlay-title="Quit Niri" {
    //     quit
    // }
    // Mod+Escape hotkey-overlay-title="Kill Fuzzel Process" {
    //     spawn "killall" "fuzzel"
    // }
    // Focus
    Mod+Left hotkey-overlay-title="Focus Column Left" {
        focus-column-left
    }
    Mod+Right hotkey-overlay-title="Focus Column Right" {
        focus-column-right
    }
    Mod+Up hotkey-overlay-title="Focus Window Up" {
        focus-window-up
    }
    Mod+Down hotkey-overlay-title="Focus Window Down" {
        focus-window-down
    }
    Mod+Tab hotkey-overlay-title="Focus Previous Workspace" {
        focus-workspace-previous
    }
    Alt+Tab hotkey-overlay-title="Focus Previous Window" {
        focus-window-previous
    }
    // Mod+Shift+H hotkey-overlay-title="Focus Monitor Left" {
    //     focus-monitor-left
    // }
    // Mod+Shift+L hotkey-overlay-title="Focus Monitor Right" {
    //     focus-monitor-right
    // }
    // Window & Column Manipulation
    // -------------------------------------------------
    Mod+C hotkey-overlay-title="Close Focused Window" {
        close-window
    }
    Mod+Ctrl+C hotkey-overlay-title="Force Kill Focused Process" {
        spawn "sh" "-c" "$USERBIN_UTILS/utils-kill.sh"
    }
    Mod+Ctrl+O hotkey-overlay-title="Toggle Opacity Focused Window" {
        spawn "sh" "-c" "$USERBIN_UTILS/utils-opacity.sh"
    }
    Mod+V hotkey-overlay-title="Toggle Window Floating" {
        toggle-window-floating
    }
    Mod+Shift+V hotkey-overlay-title="Switch Focus Floating/Tiling" {
        switch-focus-between-floating-and-tiling
    }
    Mod+Comma hotkey-overlay-title="Consume or Expell Window Left" {
        consume-or-expel-window-left
    }
    Mod+Period hotkey-overlay-title="Consume or Expell Window Right" {
        consume-or-expel-window-right
    }
    // Move column
    // -------------------------------------------------
    Mod+Ctrl+Left hotkey-overlay-title="Move Column Left" {
        move-column-left
    }
    Mod+Ctrl+Right hotkey-overlay-title="Move Column Right" {
        move-column-right
    }
    Mod+Ctrl+Down hotkey-overlay-title="Move Window Down" {
        // move-window-down-or-to-workspace-down
        move-column-to-workspace-down
    }
    Mod+Ctrl+Up hotkey-overlay-title="Move Window Up" {
        // move-window-up-or-to-workspace-up
        move-column-to-workspace-up
    }
    // Move window
    // -------------------------------------------------
    Mod+Ctrl+K hotkey-overlay-title="Move Window Up" {
        move-window-up-or-to-workspace-up
    }
    Mod+Ctrl+J hotkey-overlay-title="Move Window Down" {
        move-window-down-or-to-workspace-down
    }
    // Maximize Column
    // -------------------------------------------------
    Mod+F hotkey-overlay-title="Maximize Column" {
        maximize-column
    }
    // Maximize Window
    // -------------------------------------------------
    Mod+Shift+F hotkey-overlay-title="Fullscreen Window" {
        fullscreen-window
    }
    Mod+Z hotkey-overlay-title="Toggle Column Tabbed Display" {
        toggle-column-tabbed-display
    }
    Mod+Shift+C hotkey-overlay-title="Center Column" {
        center-column
    }
    Mod+R hotkey-overlay-title="Switch Preset Column Width" {
        switch-preset-column-width
    }
    Mod+Shift+R hotkey-overlay-title="Switch Preset Window Height" {
        switch-preset-window-height
    }
    Mod+Ctrl+R hotkey-overlay-title="Reset Window Height" {
        reset-window-height
    }
    Mod+Minus hotkey-overlay-title="Decrease Column Width" {
        set-column-width "-10%"
    }
    Mod+Equal hotkey-overlay-title="Increase Column Width" {
        set-column-width "+10%"
    }
    Mod+Shift+Minus hotkey-overlay-title="Decrease Window Height" {
        set-window-height "-10%"
    }
    Mod+Shift+Equal hotkey-overlay-title="Increase Window Height" {
        set-window-height "+10%"
    }
    // Workspace Navigation & Movement (Dynamic)
    // -------------------------------------------------
    Mod+Alt+Up hotkey-overlay-title="Move Workspace Up" {
        move-workspace-up
    }
    Mod+Alt+Down hotkey-overlay-title="Move Workspace Down" {
        move-workspace-down
    }
    // Workspace Navigation & Movement (Numeric)
    // -------------------------------------------------
    Mod+1 hotkey-overlay-title="Focus Workspace 1" {
        focus-workspace 1
    }
    Mod+2 hotkey-overlay-title="Focus Workspace 2" {
        focus-workspace 2
    }
    Mod+3 hotkey-overlay-title="Focus Workspace 3" {
        focus-workspace 3
    }
    Mod+4 hotkey-overlay-title="Focus Workspace 4" {
        focus-workspace 4
    }
    Mod+5 hotkey-overlay-title="Focus Workspace 5" {
        focus-workspace 5
    }
    Mod+6 hotkey-overlay-title="Focus Workspace 6" {
        focus-workspace 6
    }
    Mod+7 hotkey-overlay-title="Focus Workspace 7" {
        focus-workspace 7
    }
    Mod+8 hotkey-overlay-title="Focus Workspace 8" {
        focus-workspace 8
    }
    Mod+9 hotkey-overlay-title="Focus Workspace 9" {
        focus-workspace 9
    }
    Mod+Shift+1 hotkey-overlay-title="Move Column to Workspace 1" {
        move-column-to-workspace 1
    }
    Mod+Shift+2 hotkey-overlay-title="Move Column to Workspace 2" {
        move-column-to-workspace 2
    }
    Mod+Shift+3 hotkey-overlay-title="Move Column to Workspace 3" {
        move-column-to-workspace 3
    }
    Mod+Shift+4 hotkey-overlay-title="Move Column to Workspace 4" {
        move-column-to-workspace 4
    }
    Mod+Shift+5 hotkey-overlay-title="Move Column to Workspace 5" {
        move-column-to-workspace 5
    }
    Mod+Shift+6 hotkey-overlay-title="Move Column to Workspace 6" {
        move-column-to-workspace 6
    }
    Mod+Shift+7 hotkey-overlay-title="Move Column to Workspace 7" {
        move-column-to-workspace 7
    }
    Mod+Shift+8 hotkey-overlay-title="Move Column to Workspace 8" {
        move-column-to-workspace 8
    }
    Mod+Shift+9 hotkey-overlay-title="Move Column to Workspace 9" {
        move-column-to-workspace 9
    }
    Mod+Shift+Up hotkey-overlay-title="Focus Workspace Up" {
        focus-workspace-up
    }
    Mod+Shift+Down hotkey-overlay-title="Focus Workspace Down" {
        focus-workspace-down
    }
    // Application Launchers
    // Main
    // -------------------------------------------------
    Mod+W hotkey-overlay-title="Launch Terminal [Ghostty]" {
        spawn "kitty"
    }
    Mod+B hotkey-overlay-title="Launch Browser [Firefox Personal]" {
        spawn "firefox" "-p" "Personal"
    }
    Mod+D hotkey-overlay-title="Launch File Manager [Yazi]" {
        spawn "kitty" "-e" "yazi"
    }
    Mod+E hotkey-overlay-title="Launch Editor [Nvim]" {
        spawn "kitty" "-e" "nvim"
    }
    Mod+Q hotkey-overlay-title="Toggle Calculator [CLI]" {
        spawn "sh" "-c" "$USERBIN_LAUNCHERS/launchers-qalc.sh"
    }
    // Secondary (Shift)
    // -------------------------------------------------
    Mod+Shift+W hotkey-overlay-title="Launch Terminal [Ghostty]" {
        spawn "ghostty"
    }
    Mod+Shift+B hotkey-overlay-title="Launch Browser [Brave]" {
        spawn "brave"
    }
    Mod+Shift+D hotkey-overlay-title="Launch File Manager [Thunar]" {
        spawn "thunar"
    }
    Mod+Shift+E hotkey-overlay-title="Launch Editor [Zed Editor]" {
        spawn "zeditor"
    }
    Mod+Shift+Q hotkey-overlay-title="Toggle Calculator [GUI]" {
        spawn "sh" "-c" "$USERBIN_LAUNCHERS/launchers-qalculate.sh"
    }
    // Tertiary (Ctrl)
    // -------------------------------------------------
    Mod+Ctrl+Q hotkey-overlay-title="Toggle Calendar" {
        spawn "sh" "-c" "$USERBIN_LAUNCHERS/launchers-calcure.sh"
    }
    // TEST: Validate that refactoring worked
    // Fuzzel Menus
    // -------------------------------------------------
    Mod+A hotkey-overlay-title="Fuzzel Launcher" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-apps.sh"
    }
    // TODO: Adjust this so it does not show duplicate entries and does not show icons
    Mod+Alt+A hotkey-overlay-title="Fuzzel [A]uth" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-auth.sh"
    }
    Mod+Alt+B hotkey-overlay-title="Fuzzel [B]luetooth" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-bluetooth.sh"
    }
    Mod+Alt+C hotkey-overlay-title="Fuzzel [C]olors" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-colors.sh"
    }
    Mod+Alt+D hotkey-overlay-title="Fuzzel [D]isplay" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-display.sh"
    }
    Mod+Alt+E hotkey-overlay-title="Fuzzel [E]moji" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-emoji.sh"
    }
    Mod+Alt+F hotkey-overlay-title="Fuzzel [F]ind" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-find.sh"
    }
    Mod+Alt+G hotkey-overlay-title="Fuzzel [G]o" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-go.sh"
    }
    Mod+Alt+H hotkey-overlay-title="Fuzzel [H]elp" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-help.sh"
    }
    Mod+Alt+I hotkey-overlay-title="Fuzzel [I]cons" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-icons.sh"
    }
    Mod+Alt+J hotkey-overlay-title="Fuzzel [J]ournal" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-journals.sh"
    }
    Mod+Alt+K hotkey-overlay-title="Fuzzel [K]ill" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-kill.sh"
    }
    Mod+Alt+L hotkey-overlay-title="Fuzzel [L]aunch" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-launch.sh"
    }
    Mod+Alt+M hotkey-overlay-title="Fuzzel [M]ounts" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-mounts.sh"
    }
    Mod+Alt+N hotkey-overlay-title="Fuzzel [N]etworking" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-networking.sh"
    }
    // TODO: What will this menu be
    // Mod+Alt+O hotkey-overlay-title="Fuzzel [O]" {
    //     spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-o.sh"
    // }
    Mod+Alt+P hotkey-overlay-title="Fuzzel [P]ower" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-power.sh"
    }
    Mod+Alt+Q hotkey-overlay-title="Fuzzel [Q]uery" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-query.sh"
    }
    Mod+Alt+R hotkey-overlay-title="Fuzzel [R]emote" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-remote.sh"
    }
    Mod+Alt+S hotkey-overlay-title="Fuzzel [S]ervices" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-services.sh"
    }
    Mod+Alt+T hotkey-overlay-title="Fuzzel [T]emperature" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-temperature.sh"
    }
    Mod+Alt+U hotkey-overlay-title="Fuzzel [U]sb" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-usb.sh"
    }
    Mod+Alt+V hotkey-overlay-title="Fuzzel [V]aults" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-vaults.sh"
    }
    Mod+Alt+W hotkey-overlay-title="Fuzzel [W]i-Fi" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-wifi.sh"
    }
    Mod+Alt+X hotkey-overlay-title="Fuzzel [X]periments" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-xperiments.sh"
    }
    Mod+Alt+Y hotkey-overlay-title="Fuzzel [Y]ank" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-yank.sh"
    }
    Mod+Alt+Z hotkey-overlay-title="Fuzzel [Z]-Utils" {
        spawn "sh" "-c" "$USERBIN_FUZZEL/fuzzel-zutils.sh"
    }
    // Television
    Mod+Alt+1 hotkey-overlay-title="TV: Files" {
        spawn "sh" "-c" "$USERBIN_LAUNCHERS/launchers-television.sh files"
    }
    Mod+Alt+2 hotkey-overlay-title="TV: Projects" {
        spawn "sh" "-c" "$USERBIN_LAUNCHERS/launchers-television.sh projects"
    }
    Mod+Alt+3 hotkey-overlay-title="TV: Config" {
        spawn "sh" "-c" "$USERBIN_LAUNCHERS/launchers-television.sh config"
    }
    Mod+Alt+4 hotkey-overlay-title="TV: Git" {
        spawn "sh" "-c" "$USERBIN_LAUNCHERS/launchers-television.sh git"
    }
    Mod+Alt+5 hotkey-overlay-title="TV: Recent" {
        spawn "sh" "-c" "$USERBIN_LAUNCHERS/launchers-television.sh recent"
    }
    Mod+Alt+6 hotkey-overlay-title="TV: Dotfiles" {
        spawn "sh" "-c" "$USERBIN_LAUNCHERS/launchers-television.sh dotfiles"
    }
    Mod+Alt+7 hotkey-overlay-title="TV: Rhodium" {
        spawn "sh" "-c" "$USERBIN_LAUNCHERS/launchers-television.sh rhodium"
    }
    Mod+Alt+8 hotkey-overlay-title="TV: Processes" {
        spawn "sh" "-c" "$USERBIN_LAUNCHERS/launchers-television.sh processes"
    }
    Mod+Alt+9 hotkey-overlay-title="TV: Docker" {
        spawn "sh" "-c" "$USERBIN_LAUNCHERS/launchers-television.sh docker"
    }
    Mod+Alt+0 hotkey-overlay-title="TV: Logs" {
        spawn "sh" "-c" "$USERBIN_LAUNCHERS/launchers-television.sh logs"
    }
    // TODO: Deploy this now that we have a working method
    // Custom Adjustments
    // Temperature adjustment with Ctrl + Volume keys
    // Ctrl+XF86AudioRaiseVolume cooldown-ms=150 allow-when-locked=true hotkey-overlay-title="Increase Display Temperature" {
    //     spawn "~/.local/bin/fuzzel-temperature-adjust.sh" "increase"
    // }
    // Ctrl+XF86AudioLowerVolume cooldown-ms=150 allow-when-locked=true hotkey-overlay-title="Decrease Display Temperature" {
    //     spawn "~/.local/bin/fuzzel-temperature-adjust.sh" "decrease"
    // }
    // Screenshots
    Mod+S hotkey-overlay-title="Screenshot Screen" {
        screenshot-screen
    }
    Print hotkey-overlay-title="Screenshot Screen" {
        screenshot-screen
    }
    Mod+Shift+S hotkey-overlay-title="Screenshot Interactive" {
        screenshot
    }
    Shift+Print hotkey-overlay-title="Screenshot Interactive" {
        screenshot
    }
    Mod+Ctrl+S hotkey-overlay-title="Screenshot Window" {
        screenshot-window
    }
    Ctrl+Print hotkey-overlay-title="Screenshot Window" {
        screenshot-window
    }
    Mod+Shift+A hotkey-overlay-title="Screenshot Interactive [A]nnotate" {
        spawn "sh" "-c" "$USERBIN_UTILS/utils-screenshot-annotate.sh"
    }
    Alt+Print hotkey-overlay-title="Screenshot Interactive [A]nnotate" {
        spawn "sh" "-c" "$USERBIN_UTILS/utils-screenshot-annotate.sh"
    }
    // Mouse & Trackpad Scroll Bindings
    Mod+WheelScrollDown cooldown-ms=50 hotkey-overlay-title="Focus Workspace Down (Scroll)" {
        focus-workspace-down
    }
    Mod+WheelScrollUp cooldown-ms=50 hotkey-overlay-title="Focus Workspace Up (Scroll)" {
        focus-workspace-up
    }
    Mod+WheelScrollRight cooldown-ms=100 hotkey-overlay-title="Focus Column Right (Scroll)" {
        focus-column-right
    }
    Mod+WheelScrollLeft cooldown-ms=100 hotkey-overlay-title="Focus Column Left (Scroll)" {
        focus-column-left
    }
    Mod+TouchpadScrollUp hotkey-overlay-title="Increase Volume (Touchpad)" {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"
    }
    Mod+TouchpadScrollDown hotkey-overlay-title="Decrease Volume (Touchpad)" {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"
    }
    // Multimedia & Hardware Controls (XF86 Keys)
    XF86AudioRaiseVolume allow-when-locked=true hotkey-overlay-title="Increase Volume" {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"
    }
    XF86AudioLowerVolume allow-when-locked=true hotkey-overlay-title="Decrease Volume" {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"
    }
    XF86AudioMute allow-when-locked=true hotkey-overlay-title="Toggle Mute" {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    XF86AudioMicMute allow-when-locked=true hotkey-overlay-title="Toggle Mute" {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"
    }
    XF86MonBrightnessUp allow-when-locked=true hotkey-overlay-title="Increase Brightness" {
        spawn "brightnessctl" "set" "+5%"
    }
    XF86MonBrightnessDown allow-when-locked=true hotkey-overlay-title="Decrease Brightness" {
        spawn "brightnessctl" "set" "5%-"
    }
    XF86AudioPlay allow-when-locked=true hotkey-overlay-title="Play/Pause Media" {
        spawn "playerctl" "play-pause"
    }
    XF86AudioNext allow-when-locked=true hotkey-overlay-title="Next Media Track" {
        spawn "playerctl" "next"
    }
    XF86AudioPrev allow-when-locked=true hotkey-overlay-title="Previous Media Track" {
        spawn "playerctl" "previous"
    }
    // Overviews
    Mod+X repeat=false hotkey-overlay-title="Toggle Overview" {
        // NOTE: This also works with four finger swipe on trackpad
        toggle-overview
    }
}





