.niri-workspaces-box {
  margin-left: 7px;
}

.niri-workspaces-box button {
  color: #888071;
  padding: 0px 7px;
  background: transparent;
  border-radius: 4px;
  margin-right: 2px;
  transition: all 0.2s ease-in-out;
}

.niri-workspaces-box button.focused {
  color: #E6C384;
  background: transparent;
}

.niri-workspaces-box button.empty {
  color: #555047;
}

.niri-workspaces-box button:hover {
  background: transparent;
  color: #E6C384;
}
