@import "./scss/theme";

* {
  all: unset;
  font-family: "BerkeleyMonoRh Nerd Font";
  font-size: 14px;
  min-height: 30px;
  border-radius: 0;
}

@import "./modules/audio/audio";
@import "./modules/bar/bar";
@import "./modules/clock/clock";
@import "./modules/network/network";
@import "./modules/system/system";
@import "./modules/workspaces/workspaces";

