.network {
  padding: 0 5px;
  color: $fg;
  
  &:hover {
    color: $highlight;
  }
  
  &.disconnected {
    color: $alert;
  }
}

.network-details {
  color: $fg;
  margin-left: 5px;
}

.vpn {
  padding: 0 5px;
  color: $fg;
  
  &:hover {
    color: $highlight;
  }
  
  &.active {
    color: $activegreen;
  }
}

.bluetooth {
  padding: 0 5px;
  color: $fg;
  
  &:hover {
    color: $highlight;
  }
}
