.system-stats {
  .metric,
  .battery,
  .temperature {
    padding: 0 5px;
    color: $fg;
    transition: all 200ms ease;
    
    &:hover {
      color: $highlight;
    }
  }
  
  .cpu.warning,
  .memory.warning,
  .disk.warning { 
    color: $warning; 
  }
  
  .cpu.critical,
  .memory.critical,
  .disk.critical,
  .temperature.critical { 
    color: $alert; 
  }
  
  // Battery specific states
  .battery {
    &.charging,
    &.plugged {
      color: $activegreen;
    }
    
    &.critical:not(.charging) {
      color: $alert;
    }
    
    &.warning:not(.charging) {
      color: $warning;
    }
  }
  
  // Temperature specific styles
  .temperature {
    min-width: 0;
  }
}

.keyboard-state {
  padding: 0 5px;
  color: $fg;
}

.temperature-details {
  color: $fg;
  margin-left: 5px;
}
