@import "./colors";

$bg:           $zen0;
$bg-alt:       $zen1;
$fg:           $oldWhite;
$fg-muted:     $zenBlue1;
$sepcolor:     $zen3;
$bordercolor:  $zen2;
$disabled:     $zen3;
$highlight:    $zenAqua1;
$activegreen:  $zenAqua2;
$warning:      $roninYellow;
$alert:        $zenRed;
$accent:       $zenBlue2;
