.audio {
  padding: 0 5px;
  color: $fg;
  
  &:hover {
    color: $highlight;
  }
  
  &.muted {
    color: $alert;
  }
  
  &.warning {
    color: $warning;
  }
  
  &.critical {
    color: $alert;
  }
}

.volume-slider {
  margin-left: 10px;
  
  trough {
    background-color: $bordercolor;
    min-height: 5px;
    border-radius: 0px;
  }
  
  highlight {
    background-color: $highlight;
    border-radius: 0px;
  }
}
